<%- include("partials/header") -%>
<div class="main_body">
    <h3>Contact</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus metus urna, gravida id molestie nec, convallis non nibh. Sed id tincidunt lacus. Maecenas a elit vitae lorem blandit consectetur sed sit amet urna. Ut eget ante non ante commodo consectetur. Morbi vulputate nulla et felis tempus malesuada. Morbi varius, sapien eu dictum congue, purus diam efficitur diam, nec convallis augue elit eu massa. Nullam feugiat faucibus egestas. Praesent vel lobortis nisl. Nullam euismod quam vel semper varius. Cras ut elementum tellus. Nullam quis tincidunt nulla, nec egestas nibh. Proin aliquet dolor pellentesque justo scelerisque scelerisque. Integer maximus fringilla elit auctor euismod. Donec vitae tellus porttitor, egestas mauris eu, vulputate nunc.</p>
</div>
    
<%- include("partials/footer") -%>